<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Management Admin</title>


    <link rel="stylesheet" href="/admin/css/bootstrap1.min.css" />

    <link rel="stylesheet" href="/admin/vendors/themefy_icon/themify-icons.css" />
    <link rel="stylesheet" href="/admin/vendors/font_awesome//admin/css/all.min.css" />


    <link rel="stylesheet" href="/admin/vendors/scroll/scrollable.css" />

    <link rel="stylesheet" href="/admin/css/metisMenu.css">

    <link rel="stylesheet" href="/admin/css/style1.css" />
    <link rel="stylesheet" href="/admin/css/colors/default.css" id="colorSkinCSS">
</head>
<body class="crm_body_bg">

    <div class="container mt-5">
        <div style="float:left;width:75%;height:100%">
            <div class="modal-content cs_modal">
                <div class="modal-header justify-content-center theme_bg_1">
                    <h5 class="modal-title text_white">TFS Software </h5>
                </div>
                <div class="modal-body">
                    <form method="post" action="/admin/login">
                        <div>
                            <input type="text" name="Username" class="form-control" placeholder="Kullanıcı Adınızı Giriniz">
                        </div>
                        <div>
                            <input type="password" name="Password" class="form-control" placeholder="Şifrenizi Giriniz">
                        </div>
                        <button type="submit" class="btn_1 full_width text-center"> Giriş Yap</button>
                        <p>Need an account? <a data-toggle="modal" data-target="#sing_up" data-dismiss="modal" href="#"> Sign Up</a></p>
                        <div class="text-center">
                            <a href="#" data-toggle="modal" data-target="#forgot_password" data-dismiss="modal" class="pass_forget_btn">Forget Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="float:right;width:25%;height:100%">
            <div class="center">
                <img src="https://i.hizliresim.com/f9geptd.png" />
            </div>
        </div>
    </div>
    





    <script src="/admin/js/jquery1-3.4.1.min.js"></script>

    <script src="/admin/js/popper1.min.js"></script>

    <script src="/admin/js/bootstrap1.min.js"></script>

    <script src="/admin/js/metisMenu.js"></script>

    <script src="/admin/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="/admin/vendors/scroll/scrollable-custom.js"></script>

    <script src="/admin/js/custom.js"></script>
</body>

</html>