@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}


@await Component.InvokeAsync("BreadcrumbSection", "Hakkında")
<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about__pic">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="about__pic__item about__pic__item--large set-bg"
                                 data-setbg="/thema/img/about/about-1.jpg"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="about__pic__item set-bg" data-setbg="/thema/img/about/about-2.jpg"></div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="about__pic__item set-bg" data-setbg="/thema/img/about/about-3.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>About videograph</span>
                        <h2>WHo we are?</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="/thema/img/icons/si-3.png" alt="">
                                </div>
                                <h4>Video distribution</h4>
                                <p>Whether you’re halfway through the editing process, or you.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="/thema/img/icons/si-4.png" alt="">
                                </div>
                                <h4>Video hosting</h4>
                                <p>Whether you’re halfway through the editing process, or you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about__text__desc">
                        <p>
                            Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an award-winning, full-service
                            production company specializing in commercial, broadcast, tourism & action sport video
                            production services has been featured.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
@await Component.InvokeAsync("TestimonialSection")
@await Component.InvokeAsync("CounterSection")
@await Component.InvokeAsync("OurTeamSection")

