<!-- Work Section Begin -->
<section class="work">
    <div class="work__gallery">
        <div class="grid-sizer"></div>
        <div class="work__item wide__item set-bg" data-setbg="/thema/img/work/work-1.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
            <div class="work__item__hover">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                    <li>eCommerce</li>
                    <li>Magento</li>
                </ul>
            </div>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/thema/img/work/work-2.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/thema/img/work/work-3.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
        </div>
        <div class="work__item large__item set-bg" data-setbg="/thema/img/work/work-4.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
            <div class="work__item__hover">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                    <li>eCommerce</li>
                    <li>Magento</li>
                </ul>
            </div>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/thema/img/work/work-5.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
        </div>
        <div class="work__item small__item set-bg" data-setbg="/thema/img/work/work-6.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
        </div>
        <div class="work__item wide__item set-bg" data-setbg="/thema/img/work/work-7.jpg">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup">
                <i class="fa fa-play"></i>
            </a>
            <div class="work__item__hover">
                <h4>VIP Auto Tires & Service</h4>
                <ul>
                    <li>eCommerce</li>
                    <li>Magento</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Work Section End -->
